auth-server/.idea/
auth-server-client/.idea/
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
.vscode/
*.code-workspace
.DS_Store
Thumbs.db
venv/
env/
.venv/
.env/
.gradle/
.mvn/
build/
!gradle/wrapper/gradle-wrapper.jar
node_modules/
*.swp
