.error-container {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    border-radius: 8px;
    background: rgba(230, 10, 10, 0.185);
}

.error-container.error-container-centered {
    margin-left: auto;
    margin-right: auto;
}
